* {
  margin: 0;
  padding: 0;
  background-color: #00712a;
  color: white;
  font-family: "Fredoka";
}

.fredokaFONT {
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: 529;
  font-style: normal;
  font-variation-settings: "width" 86.7;
}

/* keeping the hexcodes here for later styling:
orange #f26522
yellow #ffc80b
green #00712a
blue #005599
navy #202221  */
/* https://css-tricks.com/css-borders-using-masks/ */

.petbook_header {
  background-color: #005599;
  border: solid #202221 6px;
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 1rem;
}

.navbarImageClass {
  width: 6rem;
  height: 6rem;
  border: solid #202221 4px;
}

.navbarImageClass:hover {
  width: 6rem;
  height: 6rem;
  cursor: pointer;
}

.mainFrameclass {
  width: 6rem;
  height: 6rem;
}

.text_box {
  background-color: bisque;
  color: dodgerblue;
}

.form_styling {
  background-color: white;
  padding: 4rem;
}

.petbook_footer {
  text-align: right;
}
